*{
    list-style: none;
    text-decoration: none;
    outline: none;
}

body{
    font-family: arial;
    font-size: 15px;
    line-height: 1.6em;
}
.container{
    width: 60%;
    margin: 0 auto;
    overflow: auto;
}
header, footer {
    border-bottom: 3px #f4f4f4 solid;
}


main{
    padding: 20px;
}

footer{
    text-align: center;
    padding: 2opx;
}

a.start{
    display: inline-block;
    color: #666;
    background: #f4f4f4;
    border: 1px dotted #000;
    padding: 6px 13px;
}